<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header class="header">
            <img class="cake-img" src="https://media.giphy.com/media/YiQs87qG8tu4U/giphy.gif">
            <p class="center">¡Feliz Cumpleaños!</p>
            <p class="center">Te amo mucho.</p>
        </ion-card-header>
    </ion-card>


</ion-content>
<ion-footer>
    <div class="footer">
        <p>
            <strong class="orange">
              <ion-icon name="nutrition"></ion-icon></strong> &nbsp;Bunyzilla Inc.</p>
    </div>
</ion-footer>