.footer {
    display: flex;
    justify-content: flex-end;
    color: #4F426D;
    padding: 15px;
    .orange {
        color: #BE6C09;
    }
}
.purple{
    color: #2D2249;
    font-size: 14px;
    text-align: end;

}
.pink {
    color: #A60A71;
}

.txt {
    color: #26061B;
    font-size: 14px;
    line-height: 1.5;
}