<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Hana
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
        <ion-card-header class="header">
            <p class="txt">Hola mamá,</p>
            <p class="txt">muchas <strong class="pink"> felicidades</strong> el día de hoy que es tu cumpleaños espero te guste este pequeño detalle. No es mucho pero lo hice <strong class="pink"> con mucho amor</strong>, principalmente lo pensé porque a veces te sientes aburrida o desanimada así siempre puedes tener algo en que
                entretener un rato tu <strong class="pink"> mente</strong>.</p>
            <p class="txt">Mi hermano y yo <strong class="pink"> te amamos mucho</strong> , y realmente valoro mucho lo que hacen por nosotros. Espero poder enorgulleserte algún día y ser una gran mujer<strong class="pink"> como lo eres tu</strong>.</p>
            <p class="txt"><strong class="pink"> Te amo.</strong> </p>
            <p class="purple">Flor Alejandra Legarda Araujo</p>
        </ion-card-header>
    </ion-card>

</ion-content>
<ion-footer>
    <div class="footer">
        <p>
            <strong class="orange">
              <ion-icon name="nutrition"></ion-icon></strong> &nbsp;Bunyzilla Inc.</p>
    </div>
</ion-footer>