.family-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    img {
        width: 300px;
    }
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.abrazo {
    width: 180px;
    height: 40px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    background-color: #A04180;
}

.footer {
    display: flex;
    justify-content: flex-end;
    color: #4F426D;
    padding: 15px;
    .orange {
        color: #BE6C09;
    }
}